html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100vh;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    align-content: center;
    width: 100%;
    background-image: url("weather_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    
}

form{
    display:grid ;
    text-align: center;
    margin: auto;
    align-content: center;
    width: 30%;
    padding: 12px;  
}

form>#submitButton{
    width: 50%;
    margin-left: 100px;
}
.container{
    margin: auto;
    width: 100%;
    margin: 2rem auto;
    align-content: center;
    height:100%;
}
#weatherDataForm{
    border-color: whitesmoke;
    padding: 100;

}
table{
    margin: auto;
    align-content: center;
    width: 30%;
    font-size: 15px ;
    border-style: none;
    border-color: blue;
    
}
h1{
    color: white;
}
th{
    text-align: center;
    border-width: 12px;
    width: 100%;

}
tr>td{
    text-align: center;
    width: 100%;
}

#cityName{
    text-align: center;
    width: 100%;

}
